# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Env files
.env
config.env

# Build output
dist/
build/

# IDE-specific files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Optional: Ignore test snapshots
__snapshots__/

# Optional: Ignore dotenv backups
.env.*.local
